
@{
    ViewData["Title"] = "Add";
}



@model Office
@{
    ViewData["Title"] = "Add";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center">Add New Office</h1>
            <form action="/Office/AddToDB" method="post">
                <div class="mb-3">
                    <label for="Name" class="form-label">Name</label>
                    <input type="text" id="Name" name="Name" class="form-control" />
                </div>

                <div class="mb-3">
                    <label for="Location" class="form-label">Location</label>
                    <input type="text" id="Location" name="Location" class="form-control" />
                </div>

              
                <div class="mb-3 text-center">
                    <input type="submit" value="Add" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
