
@{
    ViewData["Title"] = "Register";
}

<div class="container my-5">
  <div class="p-5 text-center bg-body-tertiary rounded-3">
    <svg class="bi mt-4 mb-3" style="color: var(--bs-indigo);" width="100" height="100"><use xlink:href="#bootstrap"></use></svg>
    <h1 class="text-body-emphasis">Registeration</h1>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
        Welcome in our company
    </p>
    <div class="d-inline-flex gap-2 mb-5">
      <a asp-action="Add" asp-controller="validation" class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button">
        Register As Employee
        <svg class="bi ms-2" width="24" height="24"><use xlink:href="#arrow-right-short"></use></svg>
      </a>
      <a asp-action="Add" asp-controller="Office" class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">
        Register As Office
      </a>
    </div>
  </div>
</div>