

@{
    ViewData["Title"] = "Index";
    int index = 1;
}




<h1>Project Data</h1>
<hr />


<a href="/Project/Add">
    <button type="button" class="btn btn-outline-primary">Add New Project</button>
</a>
<hr />

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Controls</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Project proj in Model)
        {
            <tr>
                <th scope="row">@(index++)</th>
                <td>@proj.Name</td>
                <td>@proj.Description</td>
                <td class="d-flex justify-content-between align-items-center">
                    <a href="/Project/Details/@proj.Id" class="mx-1"><i class="fa-solid fa-circle-info"></i></a>
                    <a href="/Project/Edit/@proj.Id" class="mx-1"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a href="/Project/Delete/@proj.Id" class="mx-1"><i class="fa-solid fa-delete-left"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>


